<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3>EMPRESA</h3>
        <ul class="list-unstyled quicklinks">
          <a href=""><li>Quienes Somos</li></a>
          <a href="http://blog.vr3.io"><li>Noticias y Eventos</li></a>
          <a href="./empresa.html#jobs"><li>Trabaja en VR3</li></a>
          <a href="#contact"><li>Contacto</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>SERVICIOS</h3>
        <ul class="list-unstyled quicklinks">
          <a href="./servicios.html#live"><li>Streaming en Vivo</li></a>
          <a href="./servicios.html#vod"><li>Video en Demanda</li></a>
          <a href="./servicios.html#viewers"><li>360/VR/OTT/iOS/Android</li></a>
          <a href="./servicios.html#vrar"><li>Desarrollo de VR/AR</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
      <h3>COMUNIDAD</h3>
        <ul class="list-unstyled quicklinks">
          <a href="http://mxvr.co" target="_blank"><li>MXVR</li></a>
          <a href="./empresa.html#partners"><li>Partners</li></a>
          <a href="http://blog.vr3.io"><li>Blog</li></a>
          <a href="http://press.vr3.io"><li>Prensa</li></a>
        </ul>     
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <span class="copyright">VR3 © CGL SAPI de CV</span>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline social-buttons">
          <li><a href="http://twitter.com/vr3io" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="http://facebook.com/vr3io" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="http://instagram.com/vr3io" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline quicklinks">
          <li><a href="./privacidad.html">Aviso de Privacidad y Términos de Uso</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>