<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3>EMPRESA</h3>
        <ul class="list-unstyled quicklinks">
          <a href="/company"><li>Quienes Somos</li></a>
          <a href="http://blog.vr3.io"><li>Noticias y Eventos</li></a>
          <a href="/jobs"><li>Trabajo</li></a>
          <%= link_to "Contacto", root_path(:anchor => "contact") %>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>SERVICIOS</h3>
        <ul class="list-unstyled quicklinks">
          <a href="/services#live"><li>Streaming en Vivo / VOD</li></a>
          <a href="/services#development"><li>Desarrollo de VR y AR</li></a>
          <a href="/services#equipement"><li>Renta de Equipo</li></a>
          <a href="/services#marketing"><li>Activaciones Comerciales</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
      <h3>COMUNIDAD</h3>
        <ul class="list-unstyled quicklinks">
          <a href="http://mxvr.co" target="_blank"><li>MXVR</li></a>
          <a href="http://shop.vr3.io"><li>Tienda</li></a>
          <a href="http://blog.vr3.io"><li>Blog</li></a>
          <a href="/press"><li>Prensa</li></a>
        </ul>     
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <span class="copyright">VR3 © 2017 | <strong>CGL SAPI de CV </strong></span>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline social-buttons">
          <li><a href="http://twitter.com/vr3io" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="http://facebook.com/vr3io" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="http://instagram.com/vr3io" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="list-inline quicklinks">
          <li><a href="/privacy">Aviso de Privacidad y Términos de Uso</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>