<div id="full-orange">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Facturas</div>
    </div>
  </div>
</div>
<!-- Drag and Drop de Folder de Facturas XML/PDF -->


