</br>
</br>
</br>
</br>
</br>
<!--Remove Breaking Spaces-->

<div class="portfolio">
	<div class="row text-center">
		<div class="col-md-12">
			<u><h1><%= @project.title %></h1></u>
			<h3><%= @project.client %></h3>
			<h4><%= @project.provider %></h4>
			</br>
			<p><%= @project.description %></p>
			</br>
			</br>
			</br>
		</div>
	</div>
</div>