<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Expertos en Realidad Virtual y Aumentada.</div>
    </div>
  </div>
</header>
<section id="company">
	<div class="container">
		<div class="row text-center">
			<h3>Nosotros</h3>
			<!--Oscar Chavez-->
			<div class="col-sm-4 col-md-6">
				<h3>Oscar Chavez</h3>
			</div>
			<!--Patrick Moss-->
			<div class="col-sm-4 col-md-6">
				<h3>Patrick Moss</h3>
			</div>
		</div>
	</div>
</section>