<div id="full-blue">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Menciones en la prensa.</div>
    </div>
  </div>
</div>
<br>
<div class="container">
	<div class="row text-center">
		<div class="text-center bio">
			<iframe width="800" height="800" src="http://www.facebook.com/ElFinancieroMx/videos/10153927537813915">
				
			</iframe>
			<button class="btn" href="https://www.facebook.com/ElFinancieroMx/videos/10153927537813915">Entrevista con EL FINANCIERO</button>
		</div>
	</div>
</div>